{% extends 'ReneApp/base.html' %}

{% load static %}

{% block title %} Inicio {% endblock title %}

{% block main %}
        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>pagina de memes</h2>
                        <p class="lead">Esta es mi pagina web tipo blog para el proyecto final de Coderhouse hecho en Django con Python</p>
                        <p class="mb-0">Se supone que esto es una pagina para subir memes, pero enrealidad puede ser cualquier tipo de pagina que le permita subir fotos a los usuarios 
                            incluyendo un nombre y una pequeña descripcion</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Image element - set the background image for the header in the line below-->
        <div class="py-5 bg-image-full" style="background-image: url('https://media.tenor.com/z4llFHvQ2mwAAAAC/floppa-floppa-spin.gif')">
            <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
            <div style="height: 20rem"></div>
        </div>
        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>Dije que era pagina de memes, mas o menos</h2>
                        <p class="lead">Pues la verdad me gustan los gatos asi que veran varios aca</p>
                        <p class="mb-0">pero como dije la tematica es que sea de memes asi que mientras a alguien le de risa o lo encuentre gracioso esta bien.</p>
                    </div>
                </div>
            </div>
        </section>
    {% endblock main %} 

