{% extends 'ReneApp/base.html' %}

{% block title %} Memes {% endblock title %}

{% block main %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memes</title>
</head>
<body>
    <br>
    <h1>Lista de Memes</h1>
    <br>
    <ul>
        {% for meme in object_list %}
        <li>
            <h5>subido por: {{ meme.user.username }}</h5>
            <p class="lead">{{ meme.name }}</p>
            {% if meme.image.width > 500 or meme.image.height > 500 %}
                <img src="{{ meme.image.url }}" alt="Meme Image" width="500" height="500">
            {% else %}
                <img src="{{ meme.image.url }}" alt="Meme Image">
            {% endif %}
            <p>{{ meme.caption }}</p>
            <p>Fecha de subida: {{ meme.upload_date }}</p>  <!-- fecha de subida de los memes-->
            <br>
            <br>
        </li>
        {% endfor %}
    </ul>
    <br>
    <br>
</body>
</html>
{% endblock main %}
